.scrollableText {
  background: transparent;
  max-height: 100px; /* controla a altura visível */
  max-width: 250px; /* controla a altura visível */
  overflow-y: auto;
  white-space: normal;
  padding-right: 6px;
}

/* Scrollbar customizada */
.scrollableText::-webkit-scrollbar {
  width: 6px;
}

.scrollableText::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.td {
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
  color: #000000;
  background: rgb(1, 255, 43);
  border: 2px solid gray;
  align-items: stretch;
}
