.containerp {
    background-color: rgb(212, 212, 212);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.titulo {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 1rem;
    background-color: rgb(212, 212, 212);
}

.titulo::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #90caf9;
    margin: 15px auto;
    border-radius: 2px;
}

.p {
    background-color: #1f4d5c;
    color: #ffffff;
    font-size: 1.25rem; /* tamanho agradável */
    line-height: 2.9rem; /* espaçamento entre linhas */
    text-align: justify; /* texto alinhado dos dois lados */
    padding: 2rem;
    border-radius: 12px;
    max-width: 1500px;
    margin: 0 auto 2rem auto; /* centralizado e com espaçamento abaixo */
  }