@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.tableContainer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: auto;
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: transparent;
}

.tableProducts {
  width: 100%;
  height: auto;
  background-color: transparent;
  border-radius: 8px;
}

.tableProducts thead th {
  color: #000000;
  background: rgb(226, 226, 226);
  text-align: center;
  border: 2px solid gray;
}

.tableProducts th,
.tableProducts td {
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
  color: #000000;
  background: rgb(240, 240, 240);
  border: 2px solid gray;
  align-items: stretch;
  width: auto;
}

.tableProducts th {
  font-weight: 600;
}
