.tabela1 {
    display: flex;
    gap: 20px;
    background: transparent;
}

.campos {
    border: 2px solid gray;
}

.campos:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: var(--tran-03);
}

.icon{
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 60px;
    font-size: 18px;
    color: gray;
    width: 300px;
}

.quantity {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.quantity h2 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.name {
    font-family: "Poppins", sans-serif;
}