.containerp{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.containers{
    width: 800px;
    display: flex;
    gap: px;
    border: 2px solid #888;
    padding: 20px;
    margin: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
}

.textModo {
    color: black;
    margin: auto;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.sel{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dadosp{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* padding-top: 20px; */
}

.contato{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
}

.cadastro{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.end{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 37rem;
    margin-top: 2.3rem;
}

.link {
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    color: #1a33ff;
    border: 2px solid #1a33ff;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
  }

  .link:hover {
    background-color: #1a33ff;
    color: white;
  }