@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.formSelect {
  padding: 12px;
  border: 1px solid #ddd; /* ⬅️ Borda do select */
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  color: #333; /* ⬅️ Cor do texto do select */
  font-family: "Poppins", sans-serif;
  }