.produtos{
    background: transparent;
    margin-top: 8rem;
    margin-bottom: 2rem;
    width: 97rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 10px;
}