@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.containerp {
    padding: 20px;
    display: flex;
    gap: 20px;
    background-color: #0c74e8;
    font-family: "Poppins", sans-serif;
}

.button {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    font-size: 20px;
    align-items: center;
    transition: transform 0.3s ease;
    background-color: #0c74e8;
}

.span{
    background-color: #0c74e8;
    color: white;

}

.button:hover {
    transform: scale(1.08);
    
}

.link {
    display: flex;
    font-size: 23px;
    background-color: #0c74e8;
    padding: 15px;
    align-items: center;
    transition: transform 0.3s ease;
}

.link:hover {
    transform: scale(1.05);
    
}
.teste:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.icon{
    background-color: #0c74e8;
    border-radius: 50%;
}

.containers{
    background-color: #0c74e8;
}
