.h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.p {
    background-color: #1f4d5c;
    color: #ffffff;
    font-size: 1.25rem; /* tamanho agradável */
    line-height: 2.9rem; /* espaçamento entre linhas */
    text-align: justify; /* texto alinhado dos dois lados */
    padding: 2rem;
    border-radius: 12px;
    max-width: 1500px;
    margin: 0 auto 2rem auto; /* centralizado e com espaçamento abaixo */
  }