.h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 10rem;
}

.p {
    background-color: #1f4d5c;
    color: #ffffff;
    font-size: 1.2rem; /* tamanho agradável */
    line-height: 1.9; /* espaçamento entre linhas */
    text-align: justify; /* texto alinhado dos dois lados */
    padding: 2rem;
    border-radius: 12px;
    max-width: 1000px;
    margin: 0 auto 2rem auto; /* centralizado e com espaçamento abaixo */
  }