.formSelect {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.formSelect:focus {
  outline: none;
  border-color: #304ffe;
}