@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.produto {
  width: 96rem;
  border: 2px solid gray;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background: rgb(79, 12, 235);
  font-family: "Poppins", sans-serif;
}

/* Cabeçalho fixo no topo */
.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: #e5e5e5;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
  align-items: stretch;
  position: sticky;
  z-index: 10;
  text-align: center;
  border-bottom: 2px solid gray;
}

/* Parte que rola */
.body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: stretch;
}

.span{
  border-right: 2px solid gray;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* melhor visual para campos de texto grande */
.textoGrande {
  max-height: 150px;
}

.button{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teste{
  background: transparent;
}




