@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.tabelaContainer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: auto;
  margin-top: 8rem;
  margin-bottom: 2rem;
  background-color: transparent;
}

.tabelaServices {
  width: 100%;
  height: auto;
  background-color: transparent;
  border-radius: 8px;
}


.tabelaServices thead th {
  color: #000000;
  background: rgb(226, 226, 226);
  text-align: center;
  border: 2px solid gray;
}

.tabelaServices th,
.tabelaServices td {
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
  color: #000000;
  background: rgb(240, 240, 240);
  border: 2px solid gray;
  align-items: stretch;
}

.tabelaServices th {
  font-weight: 600;
}