.containerp {
    padding: 10px;
    background: transparent;
}

.campoDados {
    background: transparent;
}

.card {
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
}

.teste {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    gap: 15px;
}


.dados1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}


.icon {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 50px;
    width: auto;
    height: auto;
}

.statusColor {
    width: 0.7rem;
    transition: background 0.3s ease;
}

@media (max-width: 768px) {
  .teste {
    width: 350px;
}
}