.containerp{
    padding: 10px;
    background: transparent;
}

.campoDados{
    background: transparent;
}

.card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid black;
    height: 200px;
    gap: 15px;
}

.dados1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}


.icon{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 50px;
    width: auto;
    height: auto;
}

