.assinatura{
    display: flex;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}
.containerp{
    display: flex;
    flex-direction: column;
}

.pi{
    background-color: rgb(224, 224, 224);
}