.wrapper {
  position: relative;
}

.blockedContent {
  opacity: 0.25;
  pointer-events: none; /* bloqueia cliques */
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.85);
  text-align: center;
}

.overlay h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #111;
}

.overlay p {
  margin-top: 8px;
  font-size: 1.2rem;
  color: #444;
}
