.imagem {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
}

.header {
    background-color: #0c74e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-family: "Poppins", sans-serif;
}

.h1 {
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
}

/* 🔥 Responsivo */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }

    .h1 {
        margin: 0;
        font-size: 1.6rem;
        text-align: center;
    }
}
