@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.containerp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Garante alinhamento no topo */
    gap: 15px; /* controla o espaço entre os cards */
    width: 96%;
    margin-top: 8rem;
    margin-left: 1rem;
    font-family: "Poppins", sans-serif;
    background: transparent;
    flex-direction: row;
    position: absolute;
    height: auto;
}

