@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.containerp {
    font-family: "Poppins", sans-serif;
    border: 2px solid black;
    background: transparent;
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 83%;
    position: absolute;
    margin-top: 8rem;
}

