.containerp {
    width: 100%;
    height: 100%;
    background: transparent;
}

.containers {
    width: 95%;
    gap: 2.9rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.3rem;
    margin-top: 3.3rem;
    background: transparent;
}

.graphic {
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: row;
    background: transparent;
}

.pizza {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    flex-direction: column;
}


.barra {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    flex-direction: column;
}

@media (max-width: 768px) {

    .containers {
        gap: 5rem;
    }

    .graphic {
        flex-direction: column;
    }

    .barra,
    .pizza {
        width: 100%;
    }

}