.containerp {
    width: 100%;
    height: 100%;
    border: 2px solid red;
    background: transparent;
}

.containers {
    width: 95%;
    height: 90%;
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.3rem;
    background: transparent;
    border: 2px solid black;
}

.graphic{
    border: 2px solid blue;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    background: transparent;
}

.pizza{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: transparent;
    border: 2px solid black;
}

.barra{
    width: 50%;
    height: auto;
    background: transparent;
}