@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  /* ===== Colors ===== */
  --body-color: #0c3dc5;
  --sidebar-color: #fff;
  --primary-color:#0c74e8;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ===== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

.containerp {
  background: var(--body-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.name {
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
  transition: var(--tran-04);
  white-space: nowrap;
}

/* ==== Sidebar==== */

.sidebar header {
  position: relative;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 18px;
}

.sidebar li .navtext {
  font-size: 18px;
  color: var(--text-color);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  transition: var(--tran-04);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: var(--tran-04);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: var(--sidebar-color);
  padding: 10px 14px;
  overflow-y: auto;
  scrollbar-width: none;
  transition: var(--tran-04);
  border-right: 1px solid gray;
}

.sidebar.close {
  width: 80px;
  overflow-x: hidden;
}

.sidebar.close .textheadertext {
  opacity: 0;
}

.sidebar.close .navtext {
  opacity: 0;
}

.sidebar.close .divbar {
  opacity: 0;
}

.imagetext.close {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  margin-top: -4rem;
}

.textuser.close {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}

.image {
  width: 55px;
  color: var(--primary-color);
  min-width: 60px;
  display: flex;
  align-items: center;
}

.imagetext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textheadertext {
  display: flex;
  flex-direction: column;
}

.sidebarWrapper {
  position: relative;
}

.toggleIcon {
  transition: transform 0.3s ease;
  color: var(--sidebar-color);
}

.toggleIcon.rotated {
  transform: rotate(180deg);
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}

.textuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.toggleFixed {
  position: fixed;
  top: 4%;
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  z-index: 999; /* acima da sidebar e do conteúdo */
  transition: left 0.28s ease, transform 0.2s ease;
}

.toggleFixed * {
  background: transparent !important;
}

.sidebarWrapper.open .toggleFixed {
  left: 12.2%;
}

.sidebarWrapper.close .toggleFixed {
  left: 4.5%;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .navtext {
  color: var(--primary-color);
  transition: var(--tran-03);
}

.sidebar li a:hover .iconSair{
  color: var(--primary-color);
  transition: var(--tran-03);
}

.menulinks {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  margin-left: -33px;
}

.logout{
  cursor: pointer;
  margin-left: 22px;
}
