@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.containerp{
    display: flex;
    flex-direction: row;
    gap:28px;
    background: transparent;
    height: 18%;
}

.campos {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    border: 2px solid gray;
}

.quantity {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.quantity h2 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.name{
    font-family: "Poppins", sans-serif;
}

.tabela1 {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: transparent;
}

.tabela2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: transparent;
}

@media (max-width: 768px) {

  .containerp {
    flex-direction: column;
    gap: 16px;
  }

  .campos {
    width: 170px;
    height: auto;
    padding: 16px 0;
  }

  .quantity h2 {
    font-size: 24px;
  }
}