@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.containerp{
    display: flex;
    flex-direction: row;
    gap:28px;
    background: transparent;
    height: 18%;
}

.campos {
    border-radius: 3%;
    border: 2px solid gray;
}

.icon{
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 60px;
    font-size: 18px;
    color: gray;
    width: auto;
    min-width: 280px;

}

.quantity {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: black;
}

.quantity h2 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.name {
    font-family: "Poppins", sans-serif;
}

.tabela1 {
    display: flex;
    gap: 20px;
    background: transparent;
}

.tabela2 {
    display: flex;
    gap: 20px;
    background: transparent;
}