@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.containerp {
    width: 50%;
    height: 100%;
    border: 2px solid gray;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.campoStatus{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.title {
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
}

.containers {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1.5rem;
}

.corEO,
.corAM,
.corAP,
.corCA,
.corFI,
.corFA,
.corEP {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 25px;
    height: 25px;
    text-align: center;
}

.corEO {
    background: rgb(250, 204, 21);
}

.corAM {
    background: rgb(251, 146, 60);
}

.corAP {
    background: rgb(34, 197, 94);
}

.corCA {
    background: rgb(239, 68, 68);
}

.corFI {
    background: rgb(21, 128, 61);
}

.corFA {
    background: rgb(139, 92, 246);
}

.corEP {
    background: rgb(59, 130, 246);
}

.status{
    background: transparent;
}

.number{
    width: 5px;
    height: 5px;
}