@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.client {
  width: 96rem;
  border: 2px solid gray;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background: rgb(79, 12, 235);
  font-family: "Poppins", sans-serif;
}

/* Cabeçalho fixo no topo */
.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: #e5e5e5;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
  align-items: stretch;
  text-align: center;
  border-bottom: 2px solid gray;
  gap: 1rem;
}

/* Parte que rola */
.body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: stretch;
}

.span{
  border-right: 2px solid gray;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.button{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teste{
  background: transparent;
}

.textoGrande {
  border-right: 2px solid gray;
  max-height: 150px;
  width: 210px;
  overflow-y: auto;
  padding: 5px;
}

/* Scrollbar transparente e discreta */
.textoGrande::-webkit-scrollbar {
  width: 8px; /* largura da barra */
}

.textoGrande::-webkit-scrollbar-track {
  background: transparent; /* fundo da área da scrollbar */
}

.textoGrande::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* cor do thumb */
  border-radius: 10px;
}

/* Firefox */
.textoGrande {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) #e4e4e4;

}




