@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.atBtnService{
    font-family: "Poppins", sans-serif;
    background: #304ffe;
    width: 220px;
    height: 60px;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    border-radius: 5px;
}

.atBtnService:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: var(--tran-03);
}

.nameService{
    color: white;
    background: transparent;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.name{
    background: transparent;
    margin: auto;
}

.number{
    background: transparent;
    margin: auto;
    font-size: 25px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: white;
    background: transparent;
}

@media (max-width: 768px) {

  .atBtnService{
    width: 200px;
    font-size: 15px;
    gap: 5px;
}

.nameService{
    gap: 15px;
}

.number{
    font-size: 23px;
}


}