:root {
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.page {
    position: fixed;
    overflow-y: auto;
    width: calc(100% - 250px);
    height: 100%;
    background: transparent;
    background-color: rgb(255, 255, 255);
    transition: var(--tran-04);
}

.page.close {
    transition: var(--tran-04);
    background: transparent;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 80px);
}

.containerp {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}