:root {
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.page {
    position: fixed;
    overflow-y: auto;
    width: calc(100% - 250px);
    height: 100%;
    transition: all 0.3s ease;
}

.page.close {
    transition: var(--tran-04);
    width: calc(100% - 80px);
}

.containerp {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {

  .containerp {
    height: auto;
  }

  .page,
  .page.close {
    position: relative;
    width: 100%;
    height: auto;
    overflow-y: visible;
  }
}