.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 50%;
    gap: 50px;
    border: 2px solid rgb(9, 255, 0);
}

.containerp{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    border: 2px solid red;
}

.atTop{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: transparent;
}

.atDown{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: transparent;
}

.containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 90%;
    background: transparent;
    margin-top: 3.3rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.osStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    padding: 1.3rem;
    justify-content: center;
    width: 60%;
    gap: 15px;
    border: 2px solid blue;
}

.atalhos{
    width: 500px;
    height: 140px;
    border: 2px solid black;
}