.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 50%;
    gap: 50px;
}

.containerp{
    width: 100%;
    height: 100%;
    background: transparent;
}

.parteTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 50%;
    background: transparent;
    margin-top: 3.3rem;
    margin-left: auto;
    margin-right: auto;
}

.osStatus{
    display: flex;
    align-items: center;
    background: transparent;
    padding: 1.3rem;
    justify-content: center;
    width: 60%;
}