@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 50%;
    gap: 50px;
    border: 2px solid rgb(9, 255, 0);
}

.containerp{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    border: 2px solid red;
    font-family: "Poppins", sans-serif;
}

.atRapido{
    font-size: 25px;
    margin-top: 20px;
}

.atTop{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: transparent;
}

.atDown{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: transparent;
}

.containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 90%;
    background: transparent;
    margin-top: 3.3rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.osPt1{
    display: flex;
    flex-direction: column;
    align-items: end;
    background: transparent;
    padding: 1.3rem;
    width: 60%;
    gap: 15px;
    border: 2px solid blue;
}

.osPt2{
    display: flex;
    flex-direction: column;
    align-items: start;
    background: transparent;
    padding: 1.3rem;
    width: 60%;
    gap: 15px;
    border: 2px solid blue;
}

.teste{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 1rem;
    padding-top: 0rem;
    border: 2px solid violet;
}

.atalhos{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 0rem;
    gap: 15px;
}

.osEa{
    margin-top: 20px;
}

